
body {
  background-color: #282c34;
}

.MainTitle {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -30px;
}

.App-logo {
  height: 15em;
  width: 15em;
  margin-top: 70px;
  margin-bottom: 70px;
}

.Title {
  color: rgb(255, 118, 118);
  font-size: 150px;
}

.ShittyStatement {
  color: rgb(255, 118, 118);
  font-size: 50px;
}